@tailwind base;
  @tailwind components;
  @tailwind utilities;

 .custom-img{
  background-image: url("../../public/pictures/Hero\ 2.jpg");
 }

 .promo-1{
background-image: url("../../public/pictures/promo2.webp");
 }
 .promo-2{
  background-image: url("../../public/pictures/promo3.webp");
 }